footer{
    bottom:0;
    width:100%;
    margin-top:50px;
    background-color: black;
    margin-top: 7.5rem;
}
.siteFooter{
    color: white;
    background-color: #000000;
    padding:  0 32px;
    padding-bottom: 6px;
    margin-top: -15px;
}
.liste{
    list-style: none;
}

a{
    text-decoration: none;
    color: blue;
}

.dark{
    background-color: #141414;
}

.banner.dark{
    background-color: #000000;
}

.M3drift.dark{
    color: white;
    background-color: #141414;
}

.siteFooter.dark{
    background-color: #000000;
}