.mentions .dark{
    background: #141414 !important;
    color: white!important;
}

h1{
    text-align: center;
    text-decoration: solid;
}
h2 {
    text-align: center;
    text-decoration: solid;
}
h6{
    text-align: center;
}